<app-modal #sharedModal></app-modal>
<div class="p-2 flex flex-col h-full">
  <section>
    <h1 class="text-xl">{{ "Customer #" + customer.id }}</h1>
  </section>
  <section class="flex flex-nowrap">
    <div class="w-96">
      <section class="mb-3">
        <app-customer-info-form
          [customer]="customer"
          (onUpdateCustomerInfo)="onUpdateCustomerInfoCallback($event)"
          [isCompany]="isCompany"
        />
      </section>
      <section class="mb-3">
        <app-contact-info-list
          [contactInfo]="customer.customerContactInfos || []"
          (onAddContactInfo)="onAddContactInfoCallback()"
          (onEditContactInfo)="onEditContactInfoCallback($event)"
          (onDeleteContactInfo)="onDeleteContactInfoCallback($event)"
        />
      </section>
      <section class="mb-3">
        <app-address-list [customerAddresses]="customer.customerAddresses || []" />
      </section>
    </div>
  </section>
</div>
