<header class="flex h-full items-center justify-start px-4 text-white z-50">
  <h1 class="text-xl">{{ title }}</h1>
  <section class="flex-auto"></section>
  <ng-container *ngIf="!auth.authError">
    <ng-container *ngIf="user?.isAuthenticated; then loggedIn; else loggedOut" />
  </ng-container>
</header>

<ng-template #loggedOut>
  <a class="ml-2 relative cursor-pointer" title="Sign in to application" routerLink="/login">
    <fa-icon [icon]="faRightToBracket" size="lg" />
  </a>
</ng-template>

<ng-template #loggedIn>
  <span
    [popper]="errorList"
    [popperPreventOverflow]="true"
    popperApplyClass="bg-white"
    [popperPlacement]="popperBottom"
    class="relative cursor-pointer text-black"
  >
    <fa-icon
      [icon]="notifications.getNotificationCount() ? faLightbulbSolid : faLightbulbRegular"
      class="text-white"
      size="lg"
    />
  </span>
  <span
    [popper]="userList"
    [popperPreventOverflow]="true"
    popperApplyClass="bg-white"
    [popperPlacement]="popperBottom"
    class="relative text-black ml-4 cursor-pointer"
  >
    <fa-icon [icon]="faUser" class="text-white" size="lg" />
  </span>
</ng-template>

<popper-content #userList>
  <ul>
    <li class="border-b-2 pb-2">{{ auth.user?.userName }}</li>
    <li class="pt-2 cursor-pointer" routerLink="/logout">Logout</li>
  </ul>
</popper-content>

<popper-content #errorList>
  <div class="w-96 max-h-96 overflow-auto">
    <app-notification-list />
  </div>
</popper-content>
